name = "KerrGeodesics"
uuid = "cf9d6853-2dbf-4719-80af-949cd24590e4"
authors = ["ArchHem"]
version = "1.0.0-DEV"

[compat]
julia = "1.6.7"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
